
<div class="container">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Home</a></li>
      <li class="nav-item"><a href="https://www.instagram.com/google" class="nav-link px-2 text-body-secondary">Instagram</a></li>
      <li class="nav-item"><a href="https://www.facebook.com/google" class="nav-link px-2 text-body-secondary">Facebook</a></li>
      <li class="nav-item"><a href="https:/www.x.com/google" class="nav-link px-2 text-body-secondary">Twitter</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">About</a></li>
    </ul>
    <p class="text-center text-body-secondary">&copy; 2023 Google, Inc</p>
  </footer>
</div>