           <div class="border-bottom row"; style="padding-bottom:8px;"> 
             <div class="col-9">
               <h4>
                   {{job['title']}}
             </h4>
            <div><b>Location:</b>{{job['Location']}}</div>
            <div><b>Salary:</b>{{job['Salary']}} <b>Per Annum.</b></div>
             </div>
             <div class="col-3">
             <button type="button" class="btn btn-outline-primary">Apply</button>
             </div>
          </div>
          <h3 class="text-center mt-2 mb-4"></h3>